.mini-container {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 10vh;
    h1 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        padding: 10px;
        letter-spacing: 1.5;
    }
}

.day-1 {
    background-color: lightblue;
    h1 {
        padding-bottom: 0;
        color: #FFECF2;
        font-family: 'Old Standard TT', serif;
        font-size: 1.2em;
        padding: 10px;
        margin: 0;
    }
    p {
        font-size: .9em;
        padding-top: 0;
        position: absolute;
        top: 0;
        color: white;
        z-index: 0;
        text-align: justify;
        text-overflow: hidden;
        @include max-width(350px) {
            font-size: .6em;
        }
        @include max-width(600px) {
            font-size: .8em;
        }
        @include max-width(800px) {
            font-size: 1.4em;
        }
        @include max-width(1000px) {
            font-size: 1.2em;
        }
        @include min-width(1001px) {
            font-size: 1.3em;
        }
    }
    span {
        color: #FFECF2;
        font-family: 'Old Standard TT', serif;
        font-size: 12px;
        line-height: 1;
        @include min-width(1001px) {
            font-size: 16px;
        }
    }
    .ice-cream-cone-container {
        width: 100%;
        display: block;
        position: relative;
    }
    .ice-cream-scoop {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        position: relative;
    }
    .ice-cream-scoop {
        background-color: #FFECF2;
        top: 0;
        z-index: 40;
    }
    .ice-cream-scoop-two {
        background-color: palegoldenrod;
        top: -3em;
        z-index: 30;
    }
    .ice-cream-scoop-three {
        background-color: #AE8F8F;
        top: -5em;
        z-index: 20;
    }
    .ice-cream-cone {
        position: relative;
        left: 18px;
        width: 0;
        height: 0;
        top: -80px;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-top: 200px solid bisque;
        z-index: 10;
    }
}

.day-2 {
    display: block;
    h1 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }
    small {
        font-style: italic;
        font-weight: 100;
        font-size: .8em;
    }
    .chef-quote {
        border: 2px solid black;
        width: 90%;
        display: block;
        margin: 0 auto;
        background-color: #eeeeee;
        p {
            width: 60%;
            margin: 0 auto;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 1em;
        }
        .attribute p {
            font-family: 'Pinyon Script', cursive;
            font-size: 3em;
            text-transform: inherit;
            padding: 0;
        }
    }
}

.day-3 {
    background-color: #2B324F;
    color: white;
    h1 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        padding: 10px;
        letter-spacing: 1.5;
        border-bottom: 1px solid white;
        @include max-width(500px) {
            font-size: 1em;
        }
    }
    .quote-container {
        padding: 15px;
    }
    .minimalism-quote {
        text-align: center;
        position: relative;
        @include max-width(320px) {
            margin-left: 0%;
        }
    }
    p {
        font-family: 'Cutive Mono', ;
        font-size: 2em;
        width: 100px;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: left;
        border-left: 2px solid #599Ebb;
        position: relative;
        @include max-width(320px) {
            font-size: 1em;
            width: 40px;
        }
    }
    span {
        font-family: 'Dosis', sans-serif;
        color: #599Ebb;
        font-weight: 700;
        letter-spacing: 3;
        text-transform: uppercase;
    }
}

.day-4 {
    h1 {
        font-family: "Pacifico", cursive;
        font-size: 2em;
        line-height: 2em;
        margin-bottom: 10px;
        background: -webkit-linear-gradient(#afd135, #0370b9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include max-width(620px) {
            font-size: 1.4em;
            line-height: 2em;
        }
        @include max-width(400px) {
            font-size: 1em;
        }
    }
    .olympic-rings {
        width: 100%;
    }
    .ring {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border-width: 8px;
        border-style: solid;
        margin-left: 5px;
        margin-right: 5px;
        @include max-width(620px) {
            width: 70px;
            height: 70px;
            border-width: 4px;
            margin-left: 3px;
            margin-right: 3px;
        }
        @include max-width(400px) {
            width: 30px;
            height: 30px;
            border-width: 3px;
            margin-left: 2px;
            margin-right: 2px;
        }
    }
    .ring-1 {
        border-color: #00298C;
    }
    .ring-2 {
        border-color: black;
    }
    .ring-3 {
        border-color: #DE1818;
    }
    .ring-4 {
        border-color: #FFEF08;
    }
    .ring-5 {
        border-color: #087B39;
    }
    ul li {
        display: inline-block;
    }
    .bottom-row {
        margin-top: -50px;
        @include max-width(620px) {
            margin-top: -30px;
        }
        @include max-width(400px) {
            margin-top: -20px;
        }
    }
}

.day-5 {
    h1 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        padding: 10px;
        letter-spacing: 1.5;
    }
    .fwb-quote {
        font-family: 'Helvetica', sans-serif;
        width: 60%;
        margin: 0 auto;
        font-size: 1.4em;
        line-height: 1.2;
        @include max-width(620px) {
            width: 80%;
        }
        .times-roman {
            font-family: "Times New Roman", serif;
            border-right: 10px solid steelblue;
            border-left: none;
            letter-spacing: 1.1;
            font-size: 1.2em;
            text-align: right;
            font-weight: bold;
        }
    }
    span {
        color: steelblue;
        font-weight: blue;
        font-size: 1.6em;
        vertical-align: middle;
    }
    blockquote {
        letter-spacing: 1.1;
        background: #f9f9f9;
        border-left: 10px solid steelblue;
        padding: 0.5em 10px;
        quotes: "\201C""\201D";
        text-align: left;
    }
    blockquote p {
        display: inline;
    }
}

.day-6 {
    h1 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        padding: 10px;
        letter-spacing: 1.5;
    }
    background-color: #fff3eb;
    .humility-quote {
        width: 70%;
        margin: 0 auto;
        color: #333;
    }
    div {
        display: block;
        font-size: 1.6em;
        line-height: 1.4em;
    }
    .quote-font-1 {
        font-family: 'Abril Fatface', cursive;
    }
    .quote-font-2 {
        font-family: 'PT Sans Narrow', sans-serif;
    }
    .humility {
        font-size: 2.6em;
        letter-spacing: 20px;
        text-transform: uppercase;
        @include max-width(620px) {
            font-size: 1.6em;
            letter-spacing: 10px;
        }
    }
    .isnot {
        letter-spacing: 6px;
        @include max-width(620px) {
            font-size: 1em;
            letter-spacing: 2px;
        }
    }
    .yourself {
        font-size: 2em;
        letter-spacing: 26px;
        @include max-width(620px) {
            font-size: 1.4em;
            letter-spacing: 12px;
        }
    }
    .thinking {
        letter-spacing: 5px;
        @include max-width(620px) {
            font-size: 1em;
            letter-spacing: 2px;
        }
    }
    .less {
        font-size: 4em;
        letter-spacing: 44px;
        text-transform: uppercase;
        @include max-width(620px) {
            font-size: 2em;
            letter-spacing: 20px;
        }
        &:after {
            content: "C.S. Lewis";
            text-decoration: underline;
            font-size: 16px;
            text-transform: capitalize;
            letter-spacing: normal;
            font-family: 'PT Sans Narrow', sans-serif;
            display: inline-block;
            vertical-align: middle;
            margin-left: -20px;
            margin-top: -10px;
            @include max-width(620px) {
                font-size: 10px;
                margin-left: -12px;
            }
        }
    }
}

.day-7 {
    h1 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        padding: 10px;
        letter-spacing: 1.5;
    }
    padding-bottom: 10px;
    background-color: #C3DEE0;
    .rain {
        width: 30%;
        margin: 0 auto;
        background-color: white;
        border: 1px dashed gray;
        @include max-width(620px) {
            width: 60%;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            padding: 20px;
            width: 60px;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 1.2;
            text-align: center;
            margin: 0 auto;
        }
        .light-blue {
            span {
                color: lightblue;
                text-decoration: line-through;
            }
        }
        .dark-blue {
            span {
                color: #50A6C2;
            }
        }
    }
}

.day-8 {
    background-color: #49745E;
    h1 {
        color: #e3ede8;
    }
    .allison-quote {
        width: 60%;
        margin: 0 auto;
        text-align: right;
        padding-bottom: 20px;
        @include max-width(700px) {
            width: 100%;
        }@include max-width(500px) {
            padding-bottom: 40px;
        }
        p {
            color: #e3ede8;
            padding: 4px;
            font-family: 'Reenie Beanie', cursive;
            font-size: 3em;
            letter-spacing: 1.5px;
            @include max-width(400px) {
                font-size: 2em;
                padding: 1px;
            }
        }
        .bep {
            font-size: 4em;
            @include max-width(620px) {
                font-size: 2.6em;
            }
        }
    }
    .pea {
        position: absolute;
        width: 40px;
        height: 60px;
        border: 20px solid #C4BDAB;
        border-right: 10px;
        border-radius: 50%;
        background-color: black;
        @include max-width(500px) {
            width: 18px;
            height: 24px;
            border: 5px solid #C4BDAB;
            border-right: 2px;
            border-radius: 50%;
        }
    }
    .pea-one {
        left: 10px;
        transform: rotate(-15deg);
    }
    .pea-two {
        top: 100px;
        left: 150px;
        transform: rotate(10deg);
        width: 30px;
        height: 50px;
        border: 16px solid #C4BDAB;
        border-left: 10px;
        @include max-width(500px) {
            left: 50px;
            width: 18px;
            height: 24px;
            border: 5px solid #C4BDAB;
            border-right: 2px;
            border-radius: 50%;
        }
    }
    .pea-three {
        top: 160px;
        left: 60px;
        transform: rotate(-13deg);
        @include max-width(500px) {
            left: 23px;
        }
    }
}