nav {
    z-index: 1;
    height: 60px;
    
   
    @include min-width(1000px) {
        height: 80px;
    }
     @include max-width(800px) {
        height: 40px;
    }
    menu {
        z-index: 400;
        position: absolute;
        right: 10%;
        
    }
    h1 a {
        font-size: 1.8em;
        line-height: 1.0;
        font-weight: 300;
        text-transform: uppercase;
        color: #333;
        font-family: 'Lato', sans-serif;
        padding-left: 10%;
        display: inline-block;
        @include min-width(1000px) {
            font-size: 1.6em;
        }
        @include max-width(800px) {
            font-size: 2.4em;
        }
    }
    font-family: 'lato',
    sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
    min-height: 60px;
    max-height: 150px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 100px;
    background: white;
    ul {
        list-style: none; 
    }
    .top li:hover .sub {
            max-height: 300px;
    }
    .top > li {
        font-size: 18px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        margin-top: 10px;
        padding-bottom: 4px;
        
        @include max-width(800px) {
            font-size: 10px;
        }
        @include max-width(400px) {
            text-align: right;
        }
    }
    .sub {
        padding-top: 10px;
        font-size: 18px;
        font-weight: 300;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
        @include max-width(800px) {
            font-size: 10px;
        }
        li {
            padding-left: 10px;
            padding: 4px;
            padding-left: 10px;
            background-color: white;
            border-top: 1px solid #eee;
            a:before {
                content: "/ "
            }
        }
    }
    .sub li li {
        padding-left: 10px;
        max-width: 150px;
        font-weight: 100;
    }
    .sub li:hover .items {
        max-height: 300px;
    }
    .items {
        font-size: 16px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
        max-width: 150px;
        padding-top:4px;
        @include max-width(800px) {
            font-size: 10px;
        }
        li a:before {
            content: "// "
        }
    }
    
    a.current {
            background-color: none;
            color: black;
            font-weight: 500;
        }
        a:hover {
            font-weight: 500;
        }
    //    
    //            & > ul {
    //                /*dropdown level menu*/
    //                background-color: skyblue; 
    //                width: 100px;
    //                display: none;
    //                & > li {
    //                    /*dropdown menu items*/
    //                    display: inline-block;
    //                    &:hover {
    //                        & > ul {
    //                            max-height: 100px;
    //                        }
    //                    }
    //                    & > a {
    //                        /*dropdown level menu links*/
    //                        display: inline-block;
    //                        padding: 6px;
    //                        &:before {
    //                            content: "/ "
    //                        }
    //                    }
    //                    & > ul {
    //                        /*flyout level menu*/
    //                        background: yellow;
    //                        font-size: 12px;
    //                        z-index: 1;
    //                        width: 100px;
    //                        max-height: 0;
    //                        overflow: hidden;
    //                        tansition: max-height .3s;
    //                        
    //                        & > li {
    //                            /*flyout menu items*/
    //                            width: 100%;
    //                            padding-left: 15px;
    //                            & > a {
    //                                /*flyout menu links*/
    //                                &:before {
    //                                    content: "// "
    //                                }
    //                            }
    //                        }
    //                    }
    //                }
    //            }
    //        }
    //    }
}