/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/utilities/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/utilities/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/utilities/_reset.scss */
body {
  line-height: 1; }

/* line 34, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/utilities/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/utilities/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/utilities/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/utilities/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_header.scss */
header {
  width: 100%;
  z-index: 1; }

/* line 6, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_header.scss */
header img {
  width: 100%; }

/* line 11, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_header.scss */
.index a:hover {
  font-weight: 300; }

/* line 1, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
nav {
  z-index: 1;
  height: 60px;
  font-family: 'lato',
    sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  min-height: 60px;
  max-height: 150px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 100px;
  background: white; }
  @media (min-width: 1000px) {
    nav {
      height: 80px; } }
  @media (max-width: 800px) {
    nav {
      height: 40px; } }
  /* line 12, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav menu {
    z-index: 400;
    position: absolute;
    right: 10%; }
  /* line 18, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav h1 a {
    font-size: 1.8em;
    line-height: 1.0;
    font-weight: 300;
    text-transform: uppercase;
    color: #333;
    font-family: 'Lato', sans-serif;
    padding-left: 10%;
    display: inline-block; }
    @media (min-width: 1000px) {
      nav h1 a {
        font-size: 1.6em; } }
    @media (max-width: 800px) {
      nav h1 a {
        font-size: 2.4em; } }
  /* line 44, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav ul {
    list-style: none; }
  /* line 47, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav .top li:hover .sub {
    max-height: 300px; }
  /* line 50, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav .top > li {
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 10px;
    padding-bottom: 4px; }
    @media (max-width: 800px) {
      nav .top > li {
        font-size: 10px; } }
    @media (max-width: 400px) {
      nav .top > li {
        text-align: right; } }
  /* line 65, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav .sub {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
            transition: max-height 1s; }
    @media (max-width: 800px) {
      nav .sub {
        font-size: 10px; } }
    /* line 75, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
    nav .sub li {
      padding-left: 10px;
      padding: 4px;
      padding-left: 10px;
      background-color: white;
      border-top: 1px solid #eee; }
      /* line 81, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
      nav .sub li a:before {
        content: "/ "; }
  /* line 86, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav .sub li li {
    padding-left: 10px;
    max-width: 150px;
    font-weight: 100; }
  /* line 91, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav .sub li:hover .items {
    max-height: 300px; }
  /* line 94, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav .items {
    font-size: 12px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
            transition: max-height 1s;
    max-width: 150px;
    padding-top: 4px; }
    @media (max-width: 800px) {
      nav .items {
        font-size: 10px; } }
    /* line 104, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
    nav .items li a:before {
      content: "// "; }
  /* line 109, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav a.current {
    background-color: none;
    color: black;
    font-weight: 500; }
  /* line 114, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_menu.scss */
  nav a:hover {
    font-weight: 500; }

/* line 3, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_global.scss */
.designs {
  text-transform: lowercase;
  font-weight: 100; }

/* line 8, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_global.scss */
body {
  margin-top: 0;
  margin-left: 0;
  background-color: #eaeaea;
  color: #fff;
  font: 10px/13px 'Lato', sans-serif; }

/* line 16, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_global.scss */
#name {
  font-size: 30px;
  color: #666; }

/* line 21, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_global.scss */
#gallery h3 {
  padding-bottom: 5px;
  font-size: .8em;
  color: #333;
  padding-left: 20px;
  font-weight: 300; }

/* line 29, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_global.scss */
a {
  color: #333333;
  text-decoration: none; }

/* line 34, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_global.scss */
.hr {
  width: 96%;
  display: inline-block;
  margin: 0 auto;
  height: 5px;
  border-top: 1px solid #888;
  margin-left: 15px;
  margin-right: 15px; }
  @media (max-width: 800px) {
    .hr {
      width: 92%; } }

/* line 47, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_global.scss */
iframe {
  margin: 0 auto;
  display: block; }

/* line 23, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
.wrap {
  overflow: hidden;
  margin: 10px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  background: white;
  display: block;
  max-width: 80%;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  overflow-x: hidden;
  margin-bottom: 50px; }

/* line 39, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
.box {
  float: left;
  position: relative;
  width: 25%;
  padding-bottom: 25%; }
  @media (max-width: 800px) {
    .box {
      width: 50%;
      padding-bottom: 50%; } }
  @media (max-width: 400px) {
    .box {
      width: 100%;
      padding-bottom: 100%; } }

/* line 55, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
.box_inner {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  overflow: hidden; }

/* line 64, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
.box_inner img {
  width: 100%; }

/* line 68, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
.blur img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

/* line 76, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
.blur a:hover img {
  -webkit-filter: blur(4px); }

/* line 80, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
#gallery {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 18px; }

/* line 86, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
#gallery span {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: table;
  position: absolute;
  vertical-align: middle;
  font-size: 1em;
  line-height: 150px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  @media (max-width: 600px) {
    #gallery span {
      font-size: .8em; } }

/* line 110, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_index.scss */
#gallery a:hover span {
  opacity: 1; }

/* line 1, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
#main_container {
  margin-left: 10%;
  margin-right: 10%; }

/* line 6, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
#main {
  font-family: 'Lato', sans-serif;
  color: #333;
  width: 100%;
  position: relative;
  float: left;
  background-color: white;
  margin-top: 50px;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 60px; }
  @media (max-width: 600px) {
    #main {
      margin-top: 30px; } }
  /* line 21, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
  #main h2 {
    text-transform: uppercase;
    font-size: 2.4em;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 6px;
    font-family: 'Lato', sans-serif;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (max-width: 600px) {
      #main h2 {
        font-size: 16px;
        letter-spacing: 2px;
        padding-left: 10px; } }
  /* line 38, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
  #main h3 {
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 15px;
    padding-top: 5px; }
    @media (max-width: 600px) {
      #main h3 {
        font-size: 12px;
        letter-spacing: 1px;
        padding: 10px;
        padding-top: 5px; } }

/* line 54, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
article img {
  width: 50%; }

/* line 58, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.right {
  float: right;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px; }

/* line 65, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
p {
  font-size: 12px;
  line-height: 1.8;
  font-weight: 100;
  font-family: 'Merriweather', serif;
  padding: 30px; }
  @media (max-width: 600px) {
    p {
      font-size: 9px;
      padding-left: 15px;
      padding-right: 15px; } }
  /* line 77, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
  p a {
    color: black;
    font-weight: 500;
    text-decoration: none; }
    /* line 81, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
    p a:hover {
      color: dimgray;
      text-decoration: none; }

/* line 88, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.about p {
  padding-top: 5px;
  padding-bottom: 5px; }

/* line 93, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.merrycssmas img {
  margin-bottom: 30px; }

/* line 97, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.link {
  padding: 0; }
  /* line 99, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
  .link a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 160px;
    text-align: center;
    padding: 8px;
    background-color: #eaeaea;
    margin-bottom: 10px; }
    /* line 111, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
    .link a:hover {
      background: white;
      font-weight: 500; }

/* line 118, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
h3 a {
  font-size: 15px;
  color: black;
  font-weight: 500;
  text-decoration: none; }
  /* line 123, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
  h3 a:hover {
    color: dimgray;
    text-decoration: none; }

/* line 129, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_one {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-right: 20%; }

/* line 136, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_two {
  width: 32%;
  height: auto; }

/* line 141, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_three {
  width: 32%;
  height: auto; }

/* line 146, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_four {
  width: 24%;
  height: auto; }

/* line 151, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_full {
  width: 100%; }

/* line 155, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_thin {
  width: 30%;
  margin: 0 auto; }

/* line 160, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_icon {
  width: 20%;
  vertical-align: top;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  margin-right: 30px; }

/* line 167, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
.image_box {
  text-align: center;
  float: none;
  width: 100%;
  margin: 0 auto; }

/* line 174, /Users/deniseblankenberger/Documents/dmblankenber.iweb.bsu.edu/assets/scss/_article.scss */
#placeholder {
  height: 45vh; }
