@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/utilities/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/utilities/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/utilities/_reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/utilities/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/utilities/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/utilities/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/utilities/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_header.scss */
header {
  width: 100%;
  z-index: 1;
}

/* line 6, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_header.scss */
header img {
  width: 100%;
}

/* line 11, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_header.scss */
.index a:hover {
  font-weight: 300;
  cursor: default;
}

/* line 1, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav {
  z-index: 1;
  height: 60px;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  min-height: 60px;
  max-height: 150px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 100px;
  background: white;
}

@media (min-width: 1000px) {
  /* line 1, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav {
    height: 80px;
  }
}

@media (max-width: 800px) {
  /* line 1, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav {
    height: 40px;
  }
}

/* line 12, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav menu {
  z-index: 400;
  position: absolute;
  right: 10%;
}

/* line 18, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav h1 a {
  font-size: 1.8em;
  line-height: 1.0;
  font-weight: 300;
  text-transform: uppercase;
  color: #333;
  font-family: 'Lato', sans-serif;
  padding-left: 10%;
  display: inline-block;
}

@media (min-width: 1000px) {
  /* line 18, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav h1 a {
    font-size: 1.6em;
  }
}

@media (max-width: 800px) {
  /* line 18, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav h1 a {
    font-size: 2.4em;
  }
}

/* line 43, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav ul {
  list-style: none;
}

/* line 46, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .top li:hover .sub {
  max-height: 300px;
}

/* line 49, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .top > li {
  height: 50px;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  margin-top: 10px;
  text-align: right;
}

@media (max-width: 800px) {
  /* line 49, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav .top > li {
    font-size: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  /* line 49, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav .top > li {
    margin-top: 30px;
    height: 30px;
  }
}

/* line 69, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .sub {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 300;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
}

@media (max-width: 800px) {
  /* line 69, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav .sub {
    font-size: 10px;
  }
}

/* line 79, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .sub li {
  padding-left: 10px;
  padding: 4px;
  padding-left: 10px;
  background-color: white;
  border-top: 1px solid #eee;
}

/* line 85, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .sub li a:before {
  content: "/ ";
}

/* line 90, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .sub li li {
  padding-left: 10px;
  max-width: 150px;
  font-weight: 100;
}

/* line 95, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .sub li:hover .items {
  max-height: 300px;
}

/* line 98, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .items {
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
  max-width: 150px;
  padding-top: 4px;
}

@media (max-width: 800px) {
  /* line 98, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
  nav .items {
    font-size: 10px;
  }
}

/* line 108, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav .items li a:before {
  content: "// ";
}

/* line 113, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav a.current {
  background-color: none;
  color: black;
  font-weight: 500;
}

/* line 118, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_menu.scss */
nav a:hover {
  font-weight: 500;
}

/* line 3, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
.designs {
  text-transform: lowercase;
  font-weight: 100;
}

/* line 8, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
body {
  margin-top: 0;
  margin-left: 0;
  background-color: #eaeaea;
  color: #fff;
  font: 10px/13px 'Lato', sans-serif;
}

/* line 16, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
#name {
  font-size: 30px;
  color: #666;
}

/* line 21, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
#gallery h3 {
  padding-bottom: 5px;
  font-size: .8em;
  color: #333;
  padding-left: 20px;
  font-weight: 300;
}

/* line 29, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
a {
  color: #333333;
  text-decoration: none;
}

/* line 34, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
.hr {
  width: 96%;
  display: inline-block;
  margin: 0 auto;
  height: 5px;
  border-top: 1px solid #888;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 800px) {
  /* line 34, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
  .hr {
    width: 92%;
  }
}

/* line 47, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_global.scss */
iframe {
  margin: 0 auto;
  display: block;
}

/* line 23, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
.wrap {
  overflow: hidden;
  margin: 10px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  background: white;
  display: block;
  max-width: 80%;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  overflow-x: hidden;
  margin-bottom: 50px;
}

/* line 39, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
.box {
  float: left;
  position: relative;
  width: 25%;
  padding-bottom: 25%;
}

@media (max-width: 800px) {
  /* line 39, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media (max-width: 400px) {
  /* line 39, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}

/* line 55, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
.box_inner {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  overflow: hidden;
}

/* line 64, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
.box_inner img {
  width: 100%;
}

/* line 68, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
.blur img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 76, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
.blur a:hover img {
  -webkit-filter: blur(4px);
}

/* line 80, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
#gallery {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* line 86, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
#gallery span {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: table;
  position: absolute;
  vertical-align: middle;
  font-size: 1em;
  line-height: 150px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 600px) {
  /* line 86, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
  #gallery span {
    font-size: .8em;
  }
}

/* line 110, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_index.scss */
#gallery a:hover span {
  opacity: 1;
}

/* line 1, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
#main_container {
  margin-left: 10%;
  margin-right: 10%;
}

/* line 6, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
#main {
  font-family: 'Lato', sans-serif;
  color: #333;
  width: 100%;
  position: relative;
  float: left;
  background-color: white;
  margin-top: 50px;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  /* line 6, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
  #main {
    margin-top: 30px;
  }
}

/* line 20, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
#main h2 {
  text-transform: uppercase;
  font-size: 2.4em;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 6px;
  font-family: 'Lato', sans-serif;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  /* line 20, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
  #main h2 {
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 10px;
  }
}

/* line 36, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
#main h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px;
  padding-top: 5px;
}

@media (max-width: 600px) {
  /* line 36, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
  #main h3 {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px;
    padding-top: 5px;
  }
}

/* line 52, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
article img {
  width: 50%;
}

/* line 56, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.right {
  float: right;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

/* line 63, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
p {
  font-size: 12px;
  line-height: 1.8;
  font-weight: 100;
  font-family: 'Merriweather', serif;
  padding: 30px;
}

@media (max-width: 600px) {
  /* line 63, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
  p {
    font-size: 9px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 74, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
p a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

/* line 78, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
p a:hover {
  color: dimgray;
  text-decoration: none;
}

/* line 85, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.about p {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 90, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.merrycssmas img {
  margin-bottom: 30px;
}

/* line 94, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.link {
  padding: 0;
}

/* line 96, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.link a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  width: 160px;
  text-align: center;
  padding: 8px;
  background-color: #eaeaea;
  margin-bottom: 10px;
}

/* line 108, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.link a:hover {
  background: white;
  font-weight: 500;
}

/* line 115, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
h3 a {
  font-size: 15px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

/* line 120, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
h3 a:hover {
  color: dimgray;
  text-decoration: none;
}

/* line 126, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_one {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
}

/* line 133, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_two {
  width: 32%;
  height: auto;
}

/* line 138, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_three {
  width: 32%;
  height: auto;
}

/* line 143, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_four {
  width: 24%;
  height: auto;
}

/* line 148, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_full {
  width: 100%;
}

/* line 152, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_thin {
  width: 30%;
  margin: 0 auto;
}

/* line 157, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_icon {
  width: 20%;
  vertical-align: top;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin-right: 30px;
}

/* line 164, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_icon-acclivity {
  width: 20%;
  margin-right: 30px;
}

/* line 171, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.image_box {
  text-align: center;
  float: none;
  width: 100%;
  margin: 0 auto;
}

/* line 178, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
#placeholder {
  height: 45vh;
}

/* line 183, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.dazzle img {
  padding: 10px;
  width: 25%;
}

/* line 187, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.dazzle .diagram {
  width: 16%;
  margin-left: 4%;
  margin-right: 4%;
}

/* line 192, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.dazzle li {
  display: inline-block;
  width: 25%;
}

/* line 195, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.dazzle li p {
  text-align: left;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 204, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.dazzle-wrapper {
  margin-bottom: 100px;
}

/* line 208, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
#acclivity {
  width: 200px;
}

/* line 213, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.wax-captions p {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: top;
  padding: 4px;
  font-size: 1em;
  margin-bottom: 10px;
}

/* line 221, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
.wax-captions p span {
  font-weight: 700;
  margin-right: 10px;
}

/* line 228, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_article.scss */
iframe {
  margin-bottom: 60px;
  margin-top: 60px;
}

/* line 1, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.mini-container {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 10vh;
}

/* line 6, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.mini-container h1 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  padding: 10px;
  letter-spacing: 1.5;
}

/* line 12, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.mini-container p {
  padding: 0px;
}

/* line 17, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 {
  background-color: lightblue;
}

/* line 19, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 h1 {
  padding-bottom: 0;
  color: #FFECF2;
  font-family: 'Old Standard TT', serif;
  font-size: 1.2em;
  padding: 10px;
  margin: 0;
}

/* line 27, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 p {
  font-size: .9em;
  padding-top: 0;
  position: absolute;
  top: 0;
  color: white;
  z-index: 0;
  text-align: justify;
  text-overflow: hidden;
}

@media (max-width: 350px) {
  /* line 27, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-1 p {
    font-size: .6em;
  }
}

@media (max-width: 600px) {
  /* line 27, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-1 p {
    font-size: .8em;
  }
}

@media (max-width: 800px) {
  /* line 27, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-1 p {
    font-size: 1.4em;
  }
}

@media (max-width: 1000px) {
  /* line 27, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-1 p {
    font-size: 1.2em;
  }
}

@media (min-width: 1001px) {
  /* line 27, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-1 p {
    font-size: 1.3em;
  }
}

/* line 52, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 span {
  color: #FFECF2;
  font-family: 'Old Standard TT', serif;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 1001px) {
  /* line 52, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-1 span {
    font-size: 16px;
  }
}

/* line 61, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 .ice-cream-cone-container {
  width: 100%;
  display: block;
  position: relative;
}

/* line 66, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 .ice-cream-scoop {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  position: relative;
}

/* line 72, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 .ice-cream-scoop {
  background-color: #FFECF2;
  top: 0;
  z-index: 40;
}

/* line 77, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 .ice-cream-scoop-two {
  background-color: palegoldenrod;
  top: -3em;
  z-index: 30;
}

/* line 82, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 .ice-cream-scoop-three {
  background-color: #AE8F8F;
  top: -5em;
  z-index: 20;
}

/* line 87, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-1 .ice-cream-cone {
  position: relative;
  left: 18px;
  width: 0;
  height: 0;
  top: -80px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 200px solid bisque;
  z-index: 10;
}

/* line 100, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-2 {
  display: block;
}

/* line 102, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-2 h1 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

/* line 106, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-2 small {
  font-style: italic;
  font-weight: 100;
  font-size: .8em;
}

/* line 111, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-2 .chef-quote {
  border: 2px solid black;
  width: 90%;
  display: block;
  margin: 0 auto;
  background-color: #eeeeee;
}

/* line 117, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-2 .chef-quote p {
  width: 60%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}

/* line 124, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-2 .chef-quote .attribute p {
  font-family: 'Pinyon Script', cursive;
  font-size: 3em;
  text-transform: inherit;
  padding: 0;
}

/* line 133, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-3 {
  background-color: #2B324F;
  color: white;
}

/* line 136, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-3 h1 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  padding: 10px;
  letter-spacing: 1.5;
  border-bottom: 1px solid white;
}

@media (max-width: 500px) {
  /* line 136, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-3 h1 {
    font-size: 1em;
  }
}

/* line 146, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-3 .quote-container {
  padding: 15px;
}

/* line 149, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-3 .minimalism-quote {
  text-align: center;
  position: relative;
}

@media (max-width: 320px) {
  /* line 149, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-3 .minimalism-quote {
    margin-left: 0%;
  }
}

/* line 156, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-3 p {
  font-family: "Cutive Mono";
  font-size: 2em;
  width: 100px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: left;
  border-left: 2px solid #599Ebb;
  position: relative;
}

@media (max-width: 320px) {
  /* line 156, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-3 p {
    font-size: 1em;
    width: 40px;
  }
}

/* line 170, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-3 span {
  font-family: 'Dosis', sans-serif;
  color: #599Ebb;
  font-weight: 700;
  letter-spacing: 3;
  text-transform: uppercase;
}

/* line 180, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 h1 {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(#afd135, #0370b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 620px) {
  /* line 180, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-4 h1 {
    font-size: 1.4em;
    line-height: 2em;
  }
}

@media (max-width: 400px) {
  /* line 180, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-4 h1 {
    font-size: 1em;
  }
}

/* line 196, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .olympic-rings {
  width: 100%;
}

/* line 199, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .ring {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border-width: 8px;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 620px) {
  /* line 199, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-4 .ring {
    width: 70px;
    height: 70px;
    border-width: 4px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 400px) {
  /* line 199, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-4 .ring {
    width: 30px;
    height: 30px;
    border-width: 3px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

/* line 222, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .ring-1 {
  border-color: #00298C;
}

/* line 225, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .ring-2 {
  border-color: black;
}

/* line 228, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .ring-3 {
  border-color: #DE1818;
}

/* line 231, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .ring-4 {
  border-color: #FFEF08;
}

/* line 234, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .ring-5 {
  border-color: #087B39;
}

/* line 237, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 ul li {
  display: inline-block;
}

/* line 240, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-4 .bottom-row {
  margin-top: -50px;
}

@media (max-width: 620px) {
  /* line 240, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-4 .bottom-row {
    margin-top: -30px;
  }
}

@media (max-width: 400px) {
  /* line 240, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-4 .bottom-row {
    margin-top: -20px;
  }
}

/* line 252, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-5 h1 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  padding: 10px;
  letter-spacing: 1.5;
}

/* line 258, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-5 .fwb-quote {
  font-family: 'Helvetica', sans-serif;
  width: 60%;
  margin: 0 auto;
  font-size: 1.4em;
  line-height: 1.2;
}

@media (max-width: 620px) {
  /* line 258, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-5 .fwb-quote {
    width: 80%;
  }
}

/* line 267, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-5 .fwb-quote .times-roman {
  font-family: "Times New Roman", serif;
  border-right: 10px solid steelblue;
  border-left: none;
  letter-spacing: 1.1;
  font-size: 1.2em;
  text-align: right;
  font-weight: bold;
}

/* line 277, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-5 span {
  color: steelblue;
  font-weight: blue;
  font-size: 1.6em;
  vertical-align: middle;
}

/* line 283, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-5 blockquote {
  letter-spacing: 1.1;
  background: #f9f9f9;
  border-left: 10px solid steelblue;
  padding: 0.5em 10px;
  quotes: "“" "”";
  text-align: left;
}

/* line 291, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-5 blockquote p {
  display: inline;
}

/* line 296, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 {
  background-color: #fff3eb;
}

/* line 297, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 h1 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  padding: 10px;
  letter-spacing: 1.5;
}

/* line 304, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .humility-quote {
  width: 70%;
  margin: 0 auto;
  color: #333;
}

/* line 309, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 div {
  display: block;
  font-size: 1.6em;
  line-height: 1.4em;
}

/* line 314, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .quote-font-1 {
  font-family: 'Abril Fatface', cursive;
}

/* line 317, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .quote-font-2 {
  font-family: 'PT Sans Narrow', sans-serif;
}

/* line 320, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .humility {
  font-size: 2.6em;
  letter-spacing: 20px;
  text-transform: uppercase;
}

@media (max-width: 620px) {
  /* line 320, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-6 .humility {
    font-size: 1.6em;
    letter-spacing: 10px;
  }
}

/* line 329, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .isnot {
  letter-spacing: 6px;
}

@media (max-width: 620px) {
  /* line 329, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-6 .isnot {
    font-size: 1em;
    letter-spacing: 2px;
  }
}

/* line 336, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .yourself {
  font-size: 2em;
  letter-spacing: 26px;
}

@media (max-width: 620px) {
  /* line 336, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-6 .yourself {
    font-size: 1.4em;
    letter-spacing: 12px;
  }
}

/* line 344, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .thinking {
  letter-spacing: 5px;
}

@media (max-width: 620px) {
  /* line 344, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-6 .thinking {
    font-size: 1em;
    letter-spacing: 2px;
  }
}

/* line 351, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .less {
  font-size: 4em;
  letter-spacing: 44px;
  text-transform: uppercase;
}

@media (max-width: 620px) {
  /* line 351, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-6 .less {
    font-size: 2em;
    letter-spacing: 20px;
  }
}

/* line 359, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-6 .less:after {
  content: "C.S. Lewis";
  text-decoration: underline;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: normal;
  font-family: 'PT Sans Narrow', sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-left: -20px;
  margin-top: -10px;
}

@media (max-width: 620px) {
  /* line 359, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-6 .less:after {
    font-size: 10px;
    margin-left: -12px;
  }
}

/* line 378, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-7 {
  padding-bottom: 10px;
  background-color: #C3DEE0;
}

/* line 379, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-7 h1 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  padding: 10px;
  letter-spacing: 1.5;
}

/* line 387, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-7 .rain {
  width: 30%;
  margin: 0 auto;
  background-color: white;
  border: 1px dashed gray;
}

@media (max-width: 620px) {
  /* line 387, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-7 .rain {
    width: 60%;
  }
}

/* line 395, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-7 .rain p {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  width: 60px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1.2;
  text-align: center;
  margin: 0 auto;
}

/* line 406, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-7 .rain .light-blue span {
  color: lightblue;
  text-decoration: line-through;
}

/* line 412, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-7 .rain .dark-blue span {
  color: #50A6C2;
}

/* line 419, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 {
  background-color: #49745E;
}

/* line 421, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 h1 {
  color: #e3ede8;
}

/* line 424, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 .allison-quote {
  width: 60%;
  margin: 0 auto;
  text-align: right;
  padding-bottom: 20px;
}

@media (max-width: 700px) {
  /* line 424, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-8 .allison-quote {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* line 424, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-8 .allison-quote {
    padding-bottom: 40px;
  }
}

/* line 435, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 .allison-quote p {
  color: #e3ede8;
  padding: 4px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
  letter-spacing: 1.5px;
}

@media (max-width: 400px) {
  /* line 435, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-8 .allison-quote p {
    font-size: 2em;
    padding: 1px;
  }
}

/* line 446, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 .allison-quote .bep {
  font-size: 4em;
}

@media (max-width: 620px) {
  /* line 446, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-8 .allison-quote .bep {
    font-size: 2.6em;
  }
}

/* line 453, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 .pea {
  position: absolute;
  width: 40px;
  height: 60px;
  border: 20px solid #C4BDAB;
  border-right: 10px;
  border-radius: 50%;
  background-color: black;
}

@media (max-width: 500px) {
  /* line 453, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-8 .pea {
    width: 18px;
    height: 24px;
    border: 5px solid #C4BDAB;
    border-right: 2px;
    border-radius: 50%;
  }
}

/* line 469, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 .pea-one {
  left: 10px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

/* line 473, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 .pea-two {
  top: 100px;
  left: 150px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  width: 30px;
  height: 50px;
  border: 16px solid #C4BDAB;
  border-left: 10px;
}

@media (max-width: 500px) {
  /* line 473, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-8 .pea-two {
    left: 50px;
    width: 18px;
    height: 24px;
    border: 5px solid #C4BDAB;
    border-right: 2px;
    border-radius: 50%;
  }
}

/* line 490, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-8 .pea-three {
  top: 160px;
  left: 60px;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

@media (max-width: 500px) {
  /* line 490, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-8 .pea-three {
    left: 23px;
  }
}

/* line 500, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-9 {
  padding-bottom: 10px;
  background-color: lavender;
}

/* line 503, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-9 h1 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  padding: 10px;
  letter-spacing: 1.5;
}

@media (max-width: 500px) {
  /* line 503, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-9 h1 {
    font-size: .8em;
    letter-spacing: 1;
  }
}

/* line 513, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-9 .yoga-quote {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  /* line 513, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-9 .yoga-quote {
    width: 80%;
  }
}

/* line 519, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-9 .yoga-quote p {
  color: #66547F;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 2em;
  letter-spacing: 2;
  position: relative;
  background-image: -webkit-linear-gradient(top, transparent 0%, transparent 45%, white 45%, white 55%, transparent 55%, transparent 100%);
  background-image: linear-gradient(to bottom, transparent 0%, transparent 45%, white 45%, white 55%, transparent 55%, transparent 100%);
}

@media (max-width: 500px) {
  /* line 519, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-9 .yoga-quote p {
    font-size: 1.4em;
  }
}

/* line 532, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-9 .yoga-quote .script {
  font-family: 'Sacramento', cursive;
  font-size: 4em;
  text-align: right;
  letter-spacing: 1;
}

/* line 541, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-10 {
  background-image: -webkit-linear-gradient(top, #445c87 0%, #987e98 30%, #f79d89 60%, #f7f189 100%);
  background-image: linear-gradient(to bottom, #445c87 0%, #987e98 30%, #f79d89 60%, #f7f189 100%);
}

/* line 543, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-10 div {
  padding-top: 200px;
  padding-bottom: 60px;
}

@media (max-width: 500px) {
  /* line 543, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-10 div {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

/* line 551, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-10 .left {
  text-align: left;
}

/* line 554, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-10 .right {
  text-align: right;
}

/* line 557, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-10 p {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 500;
  padding-left: 10%;
  padding-right: 10%;
  letter-spacing: 3;
  -webkit-transform: scale(1, 2);
          transform: scale(1, 2);
}

@media (max-width: 750px) {
  /* line 557, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-10 p {
    font-size: 2em;
    letter-spacing: 1.5;
  }
}

@media (max-width: 650px) {
  /* line 557, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-10 p {
    font-size: 1em;
    letter-spacing: 1;
  }
}

@media (max-width: 350px) {
  /* line 557, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
  .day-10 p {
    font-size: .7em;
  }
}

/* line 579, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-11 {
  background-color: #a1d6db;
  padding-bottom: 20px;
}

/* line 580, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-11 span {
  color: white;
}

/* line 587, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-11 ol {
  text-align: left;
  list-style: none;
}

/* line 590, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-11 ol li {
  color: white;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  counter-increment: item;
  margin-bottom: 5px;
  line-height: 1.4em;
  margin-bottom: 10px;
}

/* line 599, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-11 ol li:before {
  margin-right: 10px;
  content: counter(item);
  background: white;
  border-radius: 100%;
  color: #a1d6db;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

/* line 613, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-11 .ice-bath {
  width: 70%;
  margin: 0 auto;
}

/* line 616, /Users/deniseblankenberger/Documents/denise.blankenberger.com/assets/scss/_fun.scss */
.day-11 .ice-bath h3 {
  color: white;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  font-size: 1.4em;
}
